
.sidenav {
  height: auto;
  position: fixed;
  z-index: 1;
  left: 0;
  background-color: #1e3d59;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 20px;
  width: 200px;
  top: 0;
  bottom: 0;
}

.sidenav a {
  text-decoration: none;
  font-size: 19px;
  color: #dddddd;
  display: block;
  margin: 3px;
  border-bottom: solid gray; 
}

.sidenav a:hover {
  color: #ffc13b;
}

#main {
    background-color: #efe1b9;
    left: 200px;
    height: 100%;
    position: absolute;
    overflow: auto;
    right: 0px;
}

.home-card {
    margin: 1%;
    overflow: auto;
}

.project-card {
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 10%;
    overflow: auto;
    background-color: #1e3d59;
    color: #ffffff;
    font-size: 20px;
}

#get-resume-button {
    padding: 1%;
}